<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<meta charset="UTF-8">
	<title>Cadastro de Alunos</title>
</head>
<body>

	<div class ="container">
		<div class ="panel-heading" align="center">
			<strong>Cadastro de Aluno</strong>
		
		</div>
		
		<div class ="panel-body border">
						<!--
						rota para quando o form for submetido
						-->
		
			<form class ="form-horizontal" th:action="@{/aluno/salvar}" th:object="${alunos}" method="POST" style="margin: 10px;">
				<div class="form-group">
					<fieldset>
						<div class="form-group row">
							<label>Nome do Aluno</label>
							
						<!--
						associa o input ao atributo da classe
						th: field = "*{nomeDoAtributo}"
						-->
							<input type="text" th:field="*{nome}" class="form-control input-sm" 
							placeholder="Informe o nome do Aluno" maxlength="100">
							
						</div>
					</fieldset>
				</div>
				<div align="center">
					<button type="submit" style="margin-top: 10px;" class="btn btn-sm btn-success"> Salvar </button>
					<a th:href="@{/aluno/listarAlunos}" class="btn btn-sm btn-default"> Voltar </a>
				</div>
			
			</form>
		
		</div>
		
		
	</div>
	
</body>
</html>